PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=petsitting
DB_USER=postgres
DB_PASSWORD=password

ADMIN_EMAIL= mella@mail.it
ADMIN_PASSWORD= Test@1234
ADMIN_NOME=Mella
ADMIN_COGNOME=Mata


JWT_SECRET=D8ZTMoCBy3X7CNpkIr9YDnQgCHPOdvASqnmq3FMl6cM
JWT_EXPIRES_IN=1h

NODE_ENV=development

